<ul class="nav nav-pills nav-stacked" style="background-color:white;">
        <li role="presentation"><%= link_to "我的帳號", users_path %></li>
        <li role="presentation"><%= link_to "我的商店", useritem_users_path %></li>        
        <li role="presentation"><%= link_to "我的喜愛清單", userfavorite_users_path %></li>
        <li role="presentation"><%= link_to "我的訂單", orders_path %></li>
</ul>