<% if current_user.favorites.include?(item) %>
    <%= link_to  favorite_item_path(item, type: "unfavorite"), method: :put , remote: true, style:"display:inline" do %>
    <span class="glyphicon glyphicon-heart">移除清單</span>
    <% end %>
    <%= link_to '聊聊', "#", class: "btn btn-success btn-sm", style:"display:inline" %>													
    
<% else %>
    <%= link_to  favorite_item_path(item, type: "favorite"), method: :put , remote: true, style:"display:inline"  do %>
    <span class="glyphicon glyphicon-heart-empty">加入清單</span>
    <% end %>
    <%= link_to '聊聊', "#", class: "btn btn-success btn-sm", style:"display:inline" %>													
    
<% end %>