<% if current_user.favorites.include?(item) %>
    <%= link_to  favorite_item_path(item, type: "unfavorite"), method: :put , remote: true, style:"display:inline" do %>
    <span class="glyphicon glyphicon-heart" style="font-size: 20px;"></span>
    <% end %>
    
<% else %>
    <%= link_to  favorite_item_path(item, type: "favorite"), method: :put , remote: true, style:"display:inline"  do %>
    <span class="glyphicon glyphicon-heart-empty" style="font-size: 20px;"></span>
    <% end %>    
<% end %>