/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require conversations
 */

 @import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);     
            
 body{
   font-family: 'cwTeXKai', serif;        
 }


 ul {
    padding-left: 0px;
    list-style: none;
  }

  .messages-list {
    max-height: 250px;
    overflow-y: auto;
    overflow-x: auto;
  }

  .messages-list::-webkit-scrollbar {
    display: none;
  }

  textarea::-webkit-scrollbar {
    display: none;
  }
  
  
  .message-sent {
    position: relative;
    background-color: #49AFF9;
    border-color: #49AFF9;
    color: #fff;
    margin: 5px 20px;
    padding: 10px;
    float: right;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 10px 10px 10px 10px;
  }


  .message-sent > .time{
    position: relative;
    font-size: 1px;
    float: right;
  }
  
  
  .message-received {
    background-color: #F1F0F0;
    border-color: #EEEEEE;
    margin: 5px 20px;
    padding: 10px;
    float: left;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
  }

  .message-received > .time{
    position: relative;
    font-size: 1px;
    float: left;
  }


  .input {
    border:0; 
    color:#828891; 
    border:solid 1px #ccc; 
    -webkit-border-radius: 10px; 
    -moz-border-radius: 10px; 
    border-radius: 10px;
}
input:focus { 
  outline: none !important;
  border-color: #fff;
  box-shadow: 0 0 10px #fff;
}