<p>Hello <%= @resource.email %>!</p>

<p>您可以透過下面連結來更改密碼</p>

<p><%= link_to '更改密碼', edit_password_url(@resource, reset_password_token: @token) ,class: "btn btn-primary btn-sm"%></p>

<p>If you didn't request this, please ignore this email.</p>
<p>您的密碼不會更改除非您點擊郵件並確認更新密碼</p>
